
.footer_container{
    background-color: $footer;
    height: 209px;
    color: white;
    position: relative;
    .footer_contents{
        position: absolute;
        top: 66px;
        left:50%;
        transform: translateX(-50%);

        p{
            margin-top: 28px;
            line-height: 142.6%;

            @media screen and (max-width:$mobile){
                width: 133px;
                margin-top: 20px;
                text-align: center;
                font-size: 12px;
            }

        }
    
        .footer_logo{
            text-align: center;
        }

    }

}
