.header_container{
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin: 45px 100px;

    @media screen and (max-width:$mobile){
        margin: 20px 20px 25px;
    }


    .logo_kasa{
        @media screen and (max-width:$mobile){
            height: 46px;
            width: 145px;
        }

        img{
            height: 100%;
            width: 100%;
        }
    }
}



.nav_header{
    line-height: 60px;
    display: flex;
    gap:57px;

    @media screen and (max-width:$mobile){
        gap:26px;
    }
    
    a{
        color: $red;
        text-decoration: none;

        @media screen and (max-width:$mobile){
            font-size: 12px;
        }

    }

    a:hover{
        text-decoration: underline;
    }

    .active_link{
    text-decoration: underline;
    }
    
}


