.error_container{
    color: $red;
    display: flex;
    flex-direction: column;
    gap: 139px;
    

    h1{
        font-size: 288px;
        font-weight: 700px;
        margin: 139px auto 0;
    }

    p{
        font-size: 36px;
        margin: 0;
    }

    a{
        color: $red;
        font-size: 18px;
        margin-bottom: 139px;
    }
}